.contact {
  background: linear-gradient(90.21deg, #986c5f, #bea68f); /* Smooth gradient from dark to light coffee shades */
  padding: 60px 0 200px 0;

}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  color: #FFF8E1; /* Creamy off-white for titles */
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(62, 39, 35, 0.1); /* Translucent dark coffee background for inputs */
  border: 1px solid rgba(255, 248, 225, 0.5); /* Creamy borders */
  border-radius: 20px;
  color: #FFF8E1; /* Creamy text color for inputs */
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 248, 225, 1); /* Full creamy color on focus */
  color: #3E2723; /* Dark coffee text color when focused */
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #D7CCC8; /* Light brown text for placeholders */
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #3E2723; /* Dark coffee for placeholder text on focus */
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #FFF8E1; /* Creamy text color for button */
  background-color: #6E4F47; /* Dark coffee brown background for button */
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 20px; /* Smoothed corners for the button */
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #3E2723; /* Dark coffee color on hover */
}
.contact form button::before {
  content: "";
  background: #8D6E63; /* Light coffee color for hover effect */
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

.contact img {
  width: 500px; /* Adjust this size to fit your layout */
  height: 500px; /* Ensure this is the same as the width to maintain aspect ratio */
  border-radius: 40%; /* This makes the image circular */
  object-fit: cover; /* Ensures the image covers the circle without being distorted */
  display: block; /* Aligns the image properly */
  margin: 0 auto; /* Centers the image horizontally in its container */
  overflow: hidden; /* Hides anything outside the circular area */
  opacity: 0.9; // Adjust this value to control transparency, 0.7 is 70% visible
}
